body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    padding: 40px 200px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.navbar a {
    padding-left: 10px;
    font-weight: lighter;
}

.navbar div {
    padding-top: 5px;
    padding-left: 45vw;
}

.navbar a,
.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
}

.navbar a {
    text-decoration: none;
}


#hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.hero-content button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: medium;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.hero-content img {
    padding: 0px 0px 0 120px;
    height: 300px;
    width: 500px;
}

.info {
    padding: 40px 200px;
    display: block;
    text-align: center;
}

.item img {
    border: #3882f6;
    height: 150px;
    width: 150px;
}

.info #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.info span {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.item span {
    font-size: 15px;
    color: #1f2937;
    font-weight: normal;
    width: 150px;
}

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: light;
    font-size: 36px;
    color: #1f2937;
    padding: 20px 200px;
}

.quote span {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    padding-left: 40vw;
}